<template>
  <div class="post-container">
    <ul>
      <h1 class="blog-post-text">Blogify</h1>
      <li v-for="post in posts" :key="post.id" class="post">
        <router-link :to="'/post/' + post.id">
          <h2>{{ post.title }}</h2>
        </router-link>
        <p>{{ getExcerpt(post) }}</p>
        <button @click="deletePost(post.id)" class="delete-button">
          Delete
        </button>
      </li>
    </ul>
  </div>
</template>

<script>
import { mapState, mapActions, mapGetters } from "vuex";

export default {
  computed: {
    ...mapState(["posts"]),
    ...mapGetters(["getExcerpt"]),
  },
  methods: {
    ...mapActions(["deletePost"]),
  },
};
</script>
<style scoped>
.post-container {
  display: flex;
  justify-content: center;
}
.post {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 600px;
  padding: 20px;
  margin-bottom: 20px;
}
.delete-button {
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
.blog-post-text {
  text-align: center;
}
li {
  list-style: none;
}
</style>
