<template>
  <div class="create-post-container">
    <h1>Create Post</h1>
    <form @submit.prevent="createPost">
      <div class="form-group">
        <label>Title:</label>
        <input type="text" v-model="title" required />
      </div>
      <div class="form-group">
        <label>Author:</label>
        <input type="text" v-model="author" required />
      </div>
      <div class="form-group">
        <label>Content:</label>
        <textarea v-model="content" required></textarea>
      </div>
      <button type="submit">Create</button>
    </form>
  </div>
</template>

<script>
import { mapActions } from "vuex";

export default {
  name: "Create",
  data() {
    return {
      title: "",
      author: "",
      content: "",
    };
  },
  methods: {
    ...mapActions(["addPost"]),
    createPost() {
      const post = {
        id: Date.now(),
        title: this.title,
        author: this.author,
        content: this.content,
      };
      this.addPost(post);
      console.log(post);
      this.$router.push("/");
    },
  },
};
</script>

<style lang="scss">
.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;

  label {
    margin-bottom: 0.5rem;
    font-weight: bold;
  }

  input[type="text"],
  input[type="email"],
  textarea {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
  }

  textarea {
    height: 8rem;
  }
}

button[type="submit"] {
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}
.create-post-container {
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
  transition: 0.3s;
  padding: 30px;
  margin: 30px;
}
form {
  width: 600px;
}
</style>
