<template>
  <div class="edit-post-container">
    <h1>Edit Post</h1>
    <form @submit.prevent="updatePost">
      <div class="form-group">
        <label>Title:</label>
        <input type="text" v-model="post.title" required />
      </div>
      <div class="form-group">
        <label>Author:</label>
        <input type="text" v-model="post.author" required />
      </div>
      <div class="form-group">
        <label>Content:</label>
        <textarea v-model="post.content" required></textarea>
      </div>
      <button type="submit" class="update-button">Update</button>
    </form>
  </div>
</template>

<script>
import { mapGetters, mapActions } from "vuex";

export default {
  data() {
    return {
      title: "",
      author: "",
      content: "",
    };
  },
  computed: {
    ...mapGetters(["getPostById"]),
    post() {
      return this.getPostById(parseInt(this.$route.params.id));
    },
  },
  methods: {
    ...mapActions(["updatePost"]),

    updatePost() {
      const updatedPost = {
        id: this.post.id,
        title: this.post.title,
        author: this.post.author,
        content: this.post.content,
      };
      this.$store.dispatch("updatePost", updatedPost);
      this.$router.push("/");
    },
  },
  watch: {
    post(newValue) {
      this.title = newValue.title;
      this.author = newValue.author;
      this.content = newValue.content;
    },
  },
};
</script>

<style lang="scss">
.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;

  label {
    margin-bottom: 0.5rem;
    font-weight: bold;
  }

  input[type="text"],
  input[type="email"],
  textarea {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
  }

  textarea {
    height: 8rem;
  }
}

.update-button {
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}
.edit-post-container {
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
  transition: 0.3s;
  padding: 30px;
  margin: 30px;
}
form {
  width: 600px;
}
</style>
