<template>
  <div ref="paragraph" @mouseup="getSelectedText" class="post-container">
    <h1>{{ post.title }}</h1>
    <p>By {{ post.author }}</p>
    <p>{{ post.content }}</p>
    <router-link :to="'/edit/' + post.id" class="edit-button">Edit</router-link>
    <router-link :to="'/previewSelectedText/'" class="edit-button preview"
      >Preview Selected Words</router-link
    >
  </div>
</template>

<script>
import { mapGetters, mapActions } from "vuex";

export default {
  data() {
    return {
      selection: "",
      AllSelectedWords: [],
    };
  },
  computed: {
    ...mapGetters(["getPostById"]),
    post() {
      return this.getPostById(parseInt(this.$route.params.id));
    },
  },
  methods: {
    ...mapActions(["setPreViewSelectedText"]),
    getSelectedText() {
      this.selection = window.getSelection().toString();
      const regex = /^[a-zA-Z0-9]+$/;
      if (regex.test(this.selection)) {
        if (!this.AllSelectedWords.includes(this.selection)) {
          this.setPreViewSelectedText(this.selection);
        }
        const range = window.getSelection().getRangeAt(0);
        const newTag = document.createElement("span");
        newTag.style.background = "yellow";
        newTag.appendChild(range.extractContents());
        range.insertNode(newTag);
      }
    },
  },
};
</script>

<style scoped>
.edit-button {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}
.preview {
  margin-left: 20px;
}
.post-container {
  padding: 30px;
}
</style>
