<template>
  <nav class="navbar">
    <ul class="navbar-menu">
      <li class="navbar-item">
        <router-link to="/" class="home-page">Blogify</router-link>
      </li>
      <li class="navbar-item">
        <router-link to="/create" class="home-page">Create Post</router-link>
      </li>
    </ul>
  </nav>
</template>

<script>
export default {
  name: "Navbar",
};
</script>

<style lang="scss">
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: #fff;
  height: 60px;
  padding: 0 20px;
  position: sticky;
  top: 0;

  .navbar-menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 1.2rem;

    .navbar-item {
      margin: 0 10px;

      a {
        color: #fff;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
</style>
