<template>
  <div>
    <h2 class="heading-text">{{ getSelectedText }}</h2>
    <div v-for="word in highlightedWords" :key="word" class="selected-words">
      <p>{{ word }}</p>
    </div>
  </div>
</template>

<script>
export default {
  name: "PreviewSelectedText",
  computed: {
    highlightedWords() {
      return [...new Set(this.$store.state.PreViewSelectedText)];
    },
    getSelectedText() {
      return this.highlightedWords.length === 0
        ? "No words selected"
        : "Selected Words";
    },
  },
};
</script>

<style scoped>
.selected-words {
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
  transition: 0.3s;
  padding: 30px;
  margin: 30px;
}
.heading-text {
  text-align: center;
}
</style>
